@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    font-family: "Poppins", sans-serif;
}
.subscribe {
    margin-top: 200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.subscribe form {
    background: #fff;
    display: flex;
    width: fit-content;
}

.subscribe form input {
    border: 0;
    outline: none;
    padding: 10px 20px;
    height: 50px;
    width: 400px;
    font-size: 16px;
}

.subscribe form button {
    background: #fff;
    border: none;
    outline: none;
    height: 70px;
    width: 100px;
    cursor: pointer;
    font-size: 14px;
}

#one {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 100px;
}

span {
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}

.loader {
    width: 48px;
    height: 48px;
    margin-top: 50px;
    visibility: hidden;
    margin-left: 50%;
    border: 5px solid #073d58;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 



